body {
    margin: 0;
    padding: 0;
    background-color:#978fc2;
}

.container {
    position: absolute;
    width: 300px;
    height: 200px;
  }



.card {-
    display: flex;
    position: relative;
    width:250px;
    top: 50%;
    left:25px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 1);
    padding: 15px;
    margin-top:-65px;
    border-radius:5%;
    align: center;

 }


#profile-name{
    text-align: center;
}
.image-container {
    display: flex;
    justify-content:center;
    align-items: center;
    z-index:2
    }

.border-common {
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 10px solid rgba(193,187,219,255);
  border-radius:5%
}
.avatar-preview {
        width: 297px;
        height: 192px;
        position: relative;
        border-radius: 3% 3% 0% 0%;;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

#book-form{
    padding:0px;
}

#book-form input{
  width: 100%;
  height: 15px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

label#img-label{
    display:block;
    width:50px;
    background: #e3362e;
    text-align:center;
    color:#fff;
    padding:5px;
    margin:10px auto;
    border-radius:5px;
    cursor:pointer;
}
input#imageUpload {
    display: none;
}




